body {
    font-family: 'Open Sans', sans-serif;
}

.o-color {
    color: #FD6E0A;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.title-nav {
    color: #181818;
    font-size: 45px;

    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;


}

nav li {
    list-style: none;
    margin-right: 51px;


}

nav a {
    text-decoration: none;
    color: #474747;
}

.primary-btn {
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    padding: 15px 35px;
    border: none;
    font-weight: 700;
    border-radius: 5px;

}

.header {
    background-color: #FFF8F3;

}

.header-container {
    display: flex;
    padding: 38px 30px 0px 150px;
    align-items: center;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

    background-size: 550px, 50px;
    border: none;
    justify-content: space-between;

}

.banner-pic {
    width: 300px;

}

.banner-head {
    color: #474747;

    font-size: 45px;
    margin-bottom: 4px;
}

.banner-title {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 30px;

}

.about {
    padding: 131px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}

.section-title {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}

.section-describtion {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.main {
    max-width: 1140px;
    margin: auto;
}

.info-container {
    display: flex;
    justify-content: space-around;
    gap: 50;
    margin-top: 30px;
}

.info-title {
    text-align: center;
    color: #757575;
    font-size: 18px;
}

.describtion {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    line-height: 30px;
}

#do {
    padding: 30px 150px;


}

.skill-container {
    display: flex;
    padding: 30px;
    gap: 24px;
    margin: 50px 230px;
    justify-content: space-around;

}

.skill {
    box-shadow: 4px 4px 6px rgb(209, 204, 204);
}

.resume-container {
    display: flex;
    justify-content: center;
    padding: 0 230px;
    gap: 70px;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
}

.resume-title {
    color: #474747;
    margin-bottom: 30px;

}

.resume-column-title {
    color: #474747;
    font-size: 20px;
}

.resume-institude {
    color: #757575;
    font-size: 15px;
    margin-top: 10px;

}

.resume-describtion {
    color: #757575;

    font-size: 13px;
    margin-top: 20px;
}

.download-btn {
    text-align: center;



}

.btn {
    background: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-top: 50px;


}

.footer-container {
    background: #FFF8F3;
    display: flex;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 117px;
}

.footer-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;

}

.footer-description {
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;


}

.footer-text {
    width: 50%;
}

.input {
    display: block;
    border: none;
}

.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    background: #FFF;
    width: 100%;

}

.sub {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
}